@{
    ViewBag.Title = "About";
}
<div class="contenido">

        <h1 class="lo"><span>Sobre Nosotros</span></h1>

        <div class="contact-wrapper animated bounceInUp">
            
            <div class="info-contacto">
                <h4>Información de contacto</h4>
                <ul>
                    <li><i class="fas fa-map-marker-alt"></i> Cobán A.V.</li>
                    <li><i class="fas fa-phone"></i> (502) 8888 4444</li>
                    <li><i class="fas fa-envelope-open-text"></i> Amabisca@Coban.com</li>
                </ul>
                <p>La empresa Amabisca S.A. se dedica a la venta de repuestos para toda clase de vehículos. </p>
                <p>Amabisca S.A.</p>
            </div>
        </div>

    </div>