@{
	ViewBag.Title = "Iniciar Sesion";
}


<section class="form-register">
    <h4>INICIAR SESION</h4>
    <input class="controls" type="text" name="nombres" id="nombres" placeholder="Nombre de usuario">
    <input class="controls" type="password" name="contrasena" id="contrasena" placeholder="Contraseña">
    <input class="botons" type="submit" value="Iniciar Sesion">
    <p><a href="#">¿Olvidaste la contraseña?</a></p>
  </section>


    
 
